ul{
    list-style: none;
}

body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#background{
    height: 100%;
    width: 100%;
    z-index: -2;
    background-image: url(/images/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#backgroundCover{
    width: 100%;
    bottom: 0;
    z-index: -1;
    background-image : linear-gradient(to bottom, 
    rgba(255,255,255, 0), 
    rgba(255,255,255, 1) 50%);
    position: fixed;
    height: 50vh;
}

h1{
    position: absolute;
    left: 70px;
    top: 20px;
}

#logo{
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    width: 230px;
    height: auto;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    transition: 0.3s ease;
    color: rgb(241, 215, 149);
}

a::after{
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    bottom: 0;
    background-color:white;
    transition: 0.3s ease;
    height: 2px;
}

a:hover::after{
    background-color:rgb(241, 215, 149);
    width:100%;
    left: 0;
}

header{
    height: 140px;
    position: relative;
}

header a{
    position: relative;
}

nav{
    margin-top: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: right;
    background-color: rgb(43, 43, 43);
    padding-right: 70px;
    min-height: 70px;
}

nav li{
    position: relative;
    margin: 0px;
    font-size: 190%;
}

nav a{
    margin:15px;
}

nav ul{
    display: flex;
    flex-direction: row;
    float: left;
    margin-right: 0px;
}

.navburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    float: right;
    display:none;
}

nav a{
    color:aliceblue;
}

.line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

#miniGallery{
    height: 99vw;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


h1{
    display: block;
    position: relative;
    top: 120px;
    margin-bottom: 230px;
    font-size: 4vw;
    width: 30vw;
    text-align: center;
    float: left;
}

#stackedGallery{
    width: 50%;
    margin-top: 50px;
    float: right;
    margin-bottom: 80px;
}

.hidden{
    opacity: 0;
    transform: translateY(12%);
}

.show{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

#imgsmall{
    display: block;
    width: 35%;
    float: left;
    border-radius: 10%;
    margin-top: 80px;
    margin-left: 10%;
}

#imgmedium{
    display: block;
    float: right;
    border-radius: 10%;
    width: 35%;
    margin-left: 80%;
    margin-top: -100px;
    margin-bottom: -100px;
}

#imglarge{
    display: block;
    width: 35%;
    border-radius: 10%;
    margin-top: 80px;
    margin-left: 10%;
}

#homepagebtns{
    overflow: hidden;
    width: 100%;
    height: 600px;
}

#gallerylink{
    margin-top: 190px;
    width: 35vw;
    height: 15vw;
    overflow: hidden;
    position: relative;
    background-color: rgb(35, 35, 35);
    cursor: pointer;
}

#gallerylink img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    clip-path: polygon(100% 0, 0% 0, 0% 100%, 100% 60%);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
}

#gallerylink img:hover{
    filter: brightness(100%);
}

#gallerylink a{
    float: right;
    font-size: 3vw;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

#shoplink {
    width: 35vw;
    height: 15vw;
    float: right;
    margin-top: 60px;
    background-color: rgb(35, 35, 35);
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#shoplink img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    clip-path: polygon(100% 0, 0% 0, 0% 60%, 100% 100%);
    transition: 0.5s ease-in-out;
}

#shoplink img:hover{
    filter: brightness(100%);
}

#shoplink a{
    font-size: 3vw;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

h2{
    display: block;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.gallery{
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    padding: 0 90px;
    margin-bottom: 90px;
    background-image: -webkit-linear-gradient(top, transparent, rgb(241, 215, 149) 20%, rgb(241, 215, 149) 80%, transparent 100%);
}

hr{
    border: 2px solid black;
    width: 80%;
}

.column{
    flex: 21%;
    max-width: 25%;
    padding: 0 4px;
}

.column img{
    width: 80%;
    margin-top: 20px;
    height: auto;
    vertical-align: middle;
    width: 100%;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.column img:hover{
    transform: scale(0.97);
}

.modal{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalcontent{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.modal img{
    width: 35%;
    max-width: 700px;
}

.modal.appear{
    opacity: 1;
    pointer-events: all;
}

.modalClose{
    font-size: 3vw;
    position: absolute;
    right: 2vw;
    top: 2vw;
    cursor: pointer;
    color: white;
}

.modalTxt{
    color: white;
    max-width: 50%;
    font-size: large;
}

.modal.appear .modalImg,
.modal.appear .modalTxt{
    animation: zoom 0.1s linear;
}

@keyframes zoom{
    from {
        transform: scale(0);
    }
    top {
        transform: scale(1);
    }
}

h3{
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    left: 10vw;
    width: fit-content;
    font-size: 4vw;
}

#shopSection{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.shopItem{
    width: 33%;
    border: solid 1px black;
    overflow: hidden;
}


.shopItem img{
    width: 80%;
    position: relative;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
}

.shopItem p{
    text-align: center;
}

.shopItem button{
    margin: 30px;
}

#cartBtn{
    width: 70px;
    float: right;
    position: absolute;
    right: 5%;
    transform: translateX(-50%);
    cursor: pointer;
}

#cartSection{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    background-color: brown;
}

#cartHide{
    float: right;
    right: 5%;
    transform: translateX(-50%);
    position: relative;
    width: 70px;
    height: 60px;
}

#cartText{
    text-align: center;
    font-size: 100px;
    margin: 10px;
    height: 120px;
}

#contactDiv{
    height: 50vw;
}

#contactInfo{
    float: left;
    width: 50%;
    height: 100%;
}

#contactInfo p{
    position: relative;
    left: 30%;
    font-size: 1.5vw;
    width: 70%;
}

#contactInfo a{
    color: rgb(195, 161, 77);
}

#contactInfo a:hover::after{
    width: 0;
}   

h5{
    font-size: 5vw;
    position: relative;
    left: 30%;
    width: fit-content;
    margin: 50px;
}

#contactForm{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    float: right;
    border: solid;
    padding: 30px;
    margin-right: 100px;
}

input{
    border-bottom: 5px black;
    border: none;
    border-bottom: solid;
    transition: ease-in-out 0.2s;
}

input[type=text]:focus{
    outline: none;
    border-bottom: solid rgb(218, 192, 126);
}

#nameIn{
    font-size: 1.2vw;
    width: 80%;
    height: 4vh;
    margin: 10px;
}

#mailIn{
    font-size: 1.2vw;
    width: 80%;
    height: 4vh;
    margin: 10px;
}

h4{
    width: 100%;
    padding-left: 10px;
    font-size: 25px;
    margin: 0;
}

#messageIn{
    font-size: 20px;
    width: 80%;
    height: 20vw;
    margin: 10px;
    border: solid;
    transition: 0.2s ease-in-out;
}

#messageIn:focus{
    outline: none;
    border: solid rgb(241, 215, 149);
}

#sendBtn{
    color: white;
    background-color: rgb(35, 35, 35);
    width: fit-content;
    height: 10%;
    margin: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
}

#aboutSection{
    width: 100%;
    height: 47vw;
}

#aboutSection img{
    width: 40%;
    position: relative;
    left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    box-shadow: 20px 20px 20px black;
}

#aboutTexts{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    flex-wrap: wrap;
    margin: 30px 0;
}

.aboutColumn{
    flex: 22%;
    text-align: center;
    margin: 2vw;
}

.aboutColumn p{
    font-size: 1.2vw;
}

h6{
    font-size: 3vw;
    margin: 0;
}

footer{
    bottom: 0;
    position: relative;
    bottom: 0px;
    height: 160px;
    width: 100%;
    background-color:rgb(35, 35, 35);
    text-align: center;
}

.fcolumn1{
    padding: 2% 0;
    float: left;
    margin-left: 3%;
}

.fcolumn2{
    padding: 3% 0;
    height: fit-content;
}

.flinks li{
    display: inline-block;
    margin-left: 30px;
}
footer a{
    position: relative;
    font-size: 35px;
    color: aliceblue;
}

.icons{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 110px;
    width: 90px;
}

@media screen and (max-width: 1100px) {
    nav{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-bottom: 70px;
    }

    nav ul{
        padding: 0;
        margin: 0;
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
        max-height: 0px;
        transition: ease-in-out 0.5s;
    }

    #menuList{
        overflow: hidden;
        transition: ease-in-out 1s;
    }


    nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    nav ul li a{
        font-size: 30px;
    }

    #logo{
        display: none;
    }
    .column {
        flex: 45%;
        max-width: 50%;
    }

    .navburger{
        display:block;
        float:right;
        right:5%;
        top:4%;
        position: absolute;
        margin-top: 0px;
    }

    body{
        height: fit-content;
    }

    .gallery{
        padding: 0;
        max-height: fit-content;
        width: 100%;
    }

    #backgroundCover{
        height: 40%;
    }

    h1{
        top: 0;
        left: 0;
        margin: 50px 0;
        width: 100%;
        display: block;
        float: none;
        font-size: 30px;
    }

    h2{
        font-size: 6vw;
        position: static;
        height: fit-content;
        margin: 0;
    }

    #imgsmall{
        float: none;
        margin: auto;
        width: 70%;
    }

    #imgmedium{
        float: none;
        margin: 50px auto;
        width: 70%;
    }

    #imglarge{
        margin: auto;
        width: 70%;
    }

    header{
        max-height: 70px;
    }

    #miniGallery{
        width: 100%;
        margin: 0;
        padding: 0;
        height: fit-content;
    }

    #shoplink{
        width: 70%;
        margin-bottom: 50px;
        height: 30vw;
    }

    #shoplink a{
        font-size: 5vw;
    }

    #homepagebtns{
        height: fit-content;
        margin-bottom: 50px;
    }

    #gallerylink{
        width: 70%;
        height: 30vw;
    }

    #gallerylink a{
        font-size: 5vw;
    }

    #stackedGallery{
        margin: auto;
        display: block;
        width: 80%;
        float: none;
    }

    a{
        font-size: 20px;
    }

    #galleryColumns{
        height: fit-content;
    }

    .modal img{
        width: 60%;
    }

    #contactDiv{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #contactInfo{
        float: none;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    h5{
        left: 0;
        margin: 0;
        font-size: 10vw;
    }

    #contactInfo p{
        left: 0;
        width: 100%;
        font-size: 25px;
    }

    #contactForm{
        float: none;
        margin: 0;
        padding: 1%;
        margin-bottom: 50px;
        width: 70%;
        max-width: none;
    }

    #nameIn{
        font-size: 100%;
    }
    
    #mailIn{
        font-size: 100%;
    }

    #messageIn{
        width: 80%;
        height: 70%;
    }

    #aboutSection{
        height: max-content;
    }

    #aboutSection img{
        width: 80%;
        margin: 0;
    }
    
    h6{
        font-size: 30px;
    }

    #aboutTexts{
        flex-direction: column;
    }

    #aboutTexts p{
        font-size: 15px;
    }

    .flinks{
        padding: 0;
    }

    .flinks li{
        margin: 0 10px;
    }

    .icons{
        margin: auto;
        float: none;
        width: 70px;
    }

    footer a{
        font-size: 30px;
    }

    footer{
        height: max-content;
    }

    .fcolumn1{
        width: 100%;
        margin: 0;
        float: none;
    }

    .fcolumn2{
        padding-top: 0;
    }
}




