ul{
    list-style: none;
}

body{
    margin: 0;
}

h1{
    position: absolute;
    left: 70px;
    top: 20px;
}

#logo{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 260px;
    height: 70px;
}

a{
    text-decoration: none;
}

a::after{
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: 0.3s ease-in-out;
    height: 3px;
}

a:hover::after{
    width:100%;
}

header{
    height: 140px;
}

nav{
    margin: 0;
    margin-top: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: right;
    background-color: rgb(43, 43, 43);
    width: 45%;
}

nav li{
    margin: 0px;
    font-size: 190%;
}

nav a{
    padding:15px;
}

nav ul{
    display: flex;
    flex-direction: row;
    float: left;
    margin-right: 0px;
}

nav a{
    color:aliceblue;
}

#minigallery{
    height: 88vw;
    flex-wrap: wrap;
    padding: 0 4px;
}

#gallerycolumns{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1{
    display: block;
    position: relative;
    top: 120px;
    margin-bottom: 230px;
    font-size: 4vw;
    width: 30vw;
    text-align: center;
    float: left;
}
#stackedgallery{
    width: 50%;
    margin-top: 50px;
    float: right;
    margin-bottom: 80px;
}

#imgsmall{
    display: block;
    width: 30%;
    float: left;
    border-radius: 10%;
    margin-top: 80px;
    margin-left: 10%;
}

#imgmedium{
    display: block;
    float: right;
    border-radius: 10%;
    width: 30%;
    margin-left: 80%;
    margin-top: -100px;
    margin-bottom: -100px;
}

#imglarge{
    display: block;
    width: 30%;
    border-radius: 10%;
    margin-top: 80px;
    margin-left: 10%;
}

#homepagebtns{
    overflow: hidden;
    width: 100%;
    height: 900px;
}

#gallerylink{
    margin-top: 190px;
    width: 45%;
    height: 17vw;
    overflow: hidden;
    position: relative;
    background-color: rgb(35, 35, 35);
}

#gallerylink img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    clip-path: polygon(100% 0, 0% 0, 0% 100%, 100% 50%);
    background-size: 100%;
    background-repeat: no-repeat;
}

#gallerylink a{
    float: right;
    font-size: 3vw;
    position: absolute;
    bottom: 10px;
    right: 10%;
    color: white;
}

#shoplink {
    width: 45%;
    height: 17vw;
    float: right;
    margin-top: 60px;
    background-color: rgb(39, 39, 39);
    position: relative;
}

#shoplink img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    clip-path: polygon(100% 0, 0% 0, 0% 50%, 100% 100%) 
}

#shoplink a{
    color: white;
    font-size: 3vw;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

hr{
    width: 80%;
}

footer{
    height: 160px;
    width: 100%;
}

.icons{
    float: right;
    margin-right: 110px;
}



